.contact-page {
    height: 100vh;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    font-family: 'Abril Fatface', cursive;
}

.contact-page form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contact-page h1 {
    padding: 2rem;
    color: var(--highlight-color);
}

.contact-page input {
    border: none;
    border-bottom: 2px solid white;
    background-color: transparent;
    margin: 0 1rem 2rem;
    color: white;
}

#msg {
    border: none;
    border-radius: 3px;
    margin: 1rem;
}

.button {
    margin: 2rem;
    width: fit-content;
    padding: 5px 8px;
    border-radius: 5px;
    color: var(--white-color);
    text-align: center;
}

/*global*/
.button:hover {
    color: var(--highlight-color);
}

.socialLinks a{
    margin: 3px;
}

.socialLinks i{
    font-size: 25px;
    color: white;
}

.contact-page .copy {
    position: absolute;
    margin: 1rem;
}

.hidden {
    text-decoration: none;
    color: var(--white-color);
}